{% extends 'theme/base.html' %}
{% block container %}
{% if user.is_authenticated %}
<div class="container">
	<h1> Welcome to Appen!</h1>	
	<p> -Feel free to comment.</p>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2>Comments</h2>
			<table class="table">
				{% for comment in comments %}
				<tr>
					<td>{{ comment.comment }} </td>
					<td>Comment by: {{ comment.comment_by }}</td>
					<td>{{ comment.comment_datetime}}</td>
					<td id="id-likes-for-comment-{{ comment.id }}">{{ comment.likes }}</td>
					<td><a href="" class="add-comment-link" data-commentid="{{ comment.id }}"> Like </a></td>
					<td><a href="{% url 'comment_details' comment.id %}"> More details</a></td>
				</tr>
				{% empty %}
				<tr>
					<td>Sorry, no comments in this list</td>
				</tr>	
				{% endfor %}
			</table>
			<div class="container">
				{% if comments.has_previous %}
					<a href="?page={{ comments.previous_page_number }}">Previous</a>
				{% endif %}

				| {{ comments.number }} |

				{% if comments.has_next %}
					<a href="?page={{ comments.next_page_number }}">Next</a>
				{% endif %}
			</div>
		</div>
	</div>		
</div>	
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2>Add a comment</h2>
			<form class="form-horizontal" method="POST">
				{% csrf_token %}
				<div class="form-group">
					<div class="col-sm-12">
						<textarea class="form-control" rows="5" name="new_comment"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<button type="submit" class="button">Save Comment</button>
					</div>
				</div>	
			</form>
		</div>
	</div>	
</div>	
<input type="hidden" id="add_likes_url" value="/site_details/{{ user.id }}/adding_likes">

{% else %}	
<div class="container">	
	<h1> Welcome to Appen</h1>	
	<p> -Sign in to comment.</p>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2>Comments</h2>
			<table class="table">
				{% for comment in comments %}
				<tr>
					<td>{{ comment.comment }}</td>
					<td>Comment by: {{ comment.comment_by }}</td>
					<td>{{ comment.comment_datetime}}</td>
					<td id="likes">{{ comment.likes }}</td>
					<td><a href="{% url 'comment_details' comment.id %}"> More details</a></td>
				</tr>
				{% empty %}
				<tr>
					<td>Sorry, no comments in this list</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>	
<div class="container">
	{% if comments.has_previous %}
		<a href="?page={{ comments.previous_page_number }}">Previous</a>
	{% endif %}

	| {{ comments.number }} |

	{% if comments.has_next %}
		<a href="?page={{ comments.next_page_number }}">Next</a>
	{% endif %}
</div>	
{% endif %}

{% endblock %}
