{% extends 'theme/site_base.html' %}
{% load staticfiles %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static "users/css/style.css" %}">
{% endblock %}

{% block body %}
<!--making sure that nav bar appears on every page -->
<div class="container-fluid">
	<nav class="navbar navbar-inverse">
		  <ul class="nav nav-pills">
			  <li role="presentation" class="active"><a href="{% url 'frontpage' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
		  </ul>
	</nav>
</div>
<div class="container">
{% block container %}{% endblock %}
</div>

{% endblock %}
