body {
	background-color: red;
}
.signin-form {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #F6F6F6;
	font-size: 14px;
}

.invalid-login {
	color: red;
}

.signig-heading {
	font-size: 18px;
}
