{% extends 'site_details/base.html' %}
{% block container %}
{% if user.is_anonymous %}
	<p>You have to be signed in to see this page. Back to <a href="{% url 'frontpage' %}">Home</a></p>
{% else %}
<div class="container">
<h1>Your account settings</h1>
	<ol>
		<li>Your Name: {{ user.first_name }} {{ user.last_name }}</li>
		<li>Your email: {{ user.email }}</li>
		<li>Your username: {{ user.username }}</li>
	<ol>
</div>		
<div class="container">
	<form method="POST" action="">{% csrf_token %}
		<div class="change-form">
			<label for="changeFname">Change Firstname:</label>	
			<input type="text" class="control" name="firstname_change" id="changeFname" placeholder="Firstname">
			<button type="submit" class="button">Change</button>
		</div>	
	</form>
	<form method="POST" action="">{% csrf_token %}
		<div class="change-form">
			<label for="changeLname">Change Lastname:</label>	
			<input type="text" class="control" name="lastname_change" id="changeLname" placeholder="Lastname">
		<button type="submit" class="button">Change</button>
		</div>	
	</form>	
	<form method="POST" action="">{% csrf_token %}
		<div class="change-form">
			<label for="changeEmail">Change Email:</label>	
			<input type="text" class="control" name="email_change" id="changeEmail" placeholder="example@email.com">
			<button type="submit" class="button">Change</button>
		</div>	
	</form>	
</div>
{% endif %}
{% endblock %}
